/* Remove underline from all links */
a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none !important;
  border-bottom: none !important;
  box-shadow: none !important;
  outline: none !important;
}
